<section class="section single-wrapper">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12">
				
				<div class="row" data-aos="fade-down">
					<div class="col-md-4 offset-md-4 text-center">
						<div class="section-header text-center">
							<h2 class="title">Admin tags</h2>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						{{> messages}}
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
					</div>
				</div>
				
				<div class="row" data-aos="fade-down">
					<div class="col-lg-12">
						<div class="row justify-content-center">
							<div class="col-sm-12 col-md-12 col-lg-6">
								<form action ="/admin/tags" method="GET" onsubmit="requestHandler()">
									<div class="input-group mb-3">
										<input class="form-control" type="text" name="search_query" placeholder="Search by name" required="required" data-validation-required-message="Please enter the tag." value="{{query.search_query}}">
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
									<input type="hidden" name="path" value="admin">
								</form>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6">
								<form action ="/tags" method="POST" onsubmit="requestHandler()">
									<div class="input-group mb-3">
										<input class="form-control" type="text" name="name" placeholder="Create tag" required="required" data-validation-required-message="Please enter the tag.">
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit">
												<i class="fa fa-plus-square"></i>
											</button>
										</div>
									</div>
									<input type="hidden" name="path" value="admin">
								</form>
							</div>
							<div class="col-lg-12">
								<table class="table">
									<thead>
										<tr>
											<th style="width: 10%">AUTHOR</th>
											<th style="width: 10%">CREATEDAT</th>
											<th style="width: 70%">NAME</th>
											<th style="width: 10%">METHODS</th>
										</tr>
									</thead>
									<tbody>
										{{#each tags}}
										<tr>
											<td>
												{{author.username}}
											</td>
											<td>
												{{generateDate createdAt 'YYYY MMM DD'}}
											</td>
											<td>
												<input class="form-control" type="text" name="name" placeholder="Enter tag" required="required" data-validation-required-message="Please enter the tag." value="{{name}}" id="{{id}}">
											</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-primary" onclick="updateTag('{{id}}')">
														<i class="fa fa-refresh"></i>
													</button>
													<button class="btn btn-primary" onclick="deleteTag('{{id}}')">
														<i class="fa fa-trash"></i>
													</button>
												</div>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>				
				</div>
				
				{{# if tags.length }}

					{{> pagination}}

				{{/if}}
				
			</div>
		</div>
	</div>
</section>